# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Database
db.sqlite3

# Django
*.log
media/
staticfiles/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Environment
.env

# Migrations cache
*.sqlite3